// {
//   "presets": [ "es2015", "stage-0"],
//   "env": {
//     "production": {
//       "presets": ["babili"]
//     }
//   },
//   "plugins":[
//     "transform-runtime",
//     "transform-remove-strict-mode"
//   ]
// }
{
  "presets": [ "es2015", "stage-0"],
  "plugins":[
    "transform-runtime",
    "transform-remove-strict-mode"
  ]
}
